<html>

  <head>
    <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
    <!-- <link href="public/stylesheet/..." rel="stylesheet"> -->
    <title>To Do List</title>
  </head>

  <body>

    <h1>To Do List</h1>

    <h2>Tasks</h2>
    <article id="tasks">
      <form class="form">
        <input name='input'>
        <a href='#' id='addTaskButton'>+</a>
      </form>
      <script src="/js/task.js"></script>
      <ul>
      </ul>
    </article>

    <h2>Completed Tasks</h2>
    <article>
    </article>

  </body>

</html>