<!DOCTYPE html>
<html>

  <head>
    <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
    <!-- <link href="public/stylesheet/..." rel="stylesheet"> -->
    <title>To Do List</title>
  </head>

  <body>

    <h1>To Do List</h1>

    <h2>Tasks</h2>
      <form id="form">
        <input name='input' id='userInput'>
      </form>
      <button id='addTaskButton'>+</button>
    <ul id="incompleteTasks">
      <li>
        <input type="checkbox">
          <label>Sleep</label>
      </li>
    </ul>

    <h2>Completed Tasks</h2>
    <ul id="completedTasks">
    <li>
        <input type="checkbox">
          <label>Eat</label>
      </li>
    </ul>

    <script src="/js/task.js"></script>
    
  </body>

</html>